<footer class="container-fluid footer">
  <div class="row">
  <small>
    by Jason Shen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
  </div>
</footer>
